<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nutrition Report</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="my-4">Nutrition Report</h1>
        <div class="row">
            <div class="col-md-12">
                <h2>Data Table</h2>
                {{ table | safe }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>Situation Counts</h2>
                <img src="{{ plot1_url }}" class="img-fluid" alt="Situation Counts">
            </div>
            <div class="col-md-6">
                <h2>Gender Distribution</h2>
                <img src="{{ plot2_url }}" class="img-fluid" alt="Gender Distribution">
            </div>
            <div class="col-md-6">
                <h2>Situation vs Coffee</h2>
                <img src="{{ plot3_url }}" class="img-fluid" alt="Situation vs Coffee">
            </div>
            <div class="col-md-6">
                <h2>Age vs Height</h2>
                <img src="{{ plot4_url }}" class="img-fluid" alt="Age vs Height">
            </div>
            <div class="col-md-6">
                <h2>Boxplot Age</h2>
                <img src="{{ plot5_url }}" class="img-fluid" alt="Boxplot Age">
            </div>
            <div class="col-md-6">
                <h2>Boxplot Height</h2>
                <img src="{{ plot6_url }}" class="img-fluid" alt="Boxplot Height">
            </div>
            <div class="col-md-6">
                <h2>Histogram of Age</h2>
                <img src="{{ plot7_url }}" class="img-fluid" alt="Histogram of Age">
            </div>
            <div class="col-md-6">
                <h2>Empirical Distribution</h2>
                <img src="{{ plot8_url }}" class="img-fluid" alt="Empirical Distribution">
            </div>
            <div class="col-md-6">
                <h2>Qualitative Bivariate Plot</h2>
                <img src="{{ plot9_url }}" class="img-fluid" alt="Qualitative Bivariate Plot">
            </div>
            <div class="col-md-6">
                <h2>Quantitative Bivariate Plot</h2>
                <img src="{{ plot10_url }}" class="img-fluid" alt="Quantitative Bivariate Plot">
            </div>
            <div class="col-md-6">
                <h2>Gender vs Weight</h2>
                <img src="{{ plot11_url }}" class="img-fluid" alt="Gender vs Weight">
            </div>
        </div>
    </div>
</body>
</html>
