<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nutrition Report</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="my-4">Nutrition Report</h1>
        <div class="row">
            <div class="col-md-12">
                <h2>Data Table</h2>
                {{ table | safe }}
            </div>
        </div>
        <div class="row[_{{{CITATION{{{_1{](https://github.com/DSML-book/Programs/tree/486603c957bd4ab8755dfdac556f324f4ad7739a/Chapter1%2Fsnippets.py)[_{{{CITATION{{{_2{](https://github.com/jhonatanjacinto/fp9252/tree/c6de98163005f9d574953a35bc4b2127a74ec61f/exemplos%2F09-mysqli.php)[_{{{CITATION{{{_3{](https://github.com/mbarlund/lotrt/tree/82637befa20bd0894976e1dd307807c935e21bf8/index.php)[_{{{CITATION{{{_4{](https://github.com/MartinezTech/practices_php_v2/tree/b2442131e10910e5f1d5d1fa1dc14f981a1b4490/Workspace%2Fbasic%20practices%20server%20php%2FUF1-NF2-PAC01-Directives%2FN2P1AlexMartinezComments.php)